<app-auth-ui title="Register">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="fullName" class="form-label">Full Name</label>
          <input type="text" class="form-control" formControlName="fullname" id="fullName">
        </div>
        <div class="mb-3">
          <label for="weight" class="form-label">Weight</label>
          <input type="number" class="form-control" formControlName="weight" id="weight">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</app-auth-ui>