<div class="body-auth">
    <section class="card-auth">
        @if (loaderService.isLoading()) {
            <app-loader></app-loader>
            }
        <div class="nav-auth-body">
            <div class="nav-auth" routerLinkActive="active"><a routerLink="/register">register</a></div>
            <div class="separator"></div>
            <div class="nav-auth" routerLinkActive="active"><a routerLink="/login">login</a></div>
        </div>
        <ng-content></ng-content>
    </section>
</div>