


.tracking-body {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1rem 2.5rem;

    .title {
        text-decoration: underline;
        font-family: "Jura", sans-serif;
        font-size: 1.5rem;
        margin: 0;
    }

    .goal-achieved {
        color: #fff;
        padding: 0rem 0.5rem;
        text-align: center;
        border-radius: 8px;
        background-color: rgb(55, 206, 75);
    }


    .intake-body {
        .intake-form {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}