<div class="all-body">
    <div class="body-section">
        <section>
            <nav class="nav-body">
                <ul class="nav-itens">
                    <li class="li-menu" routerLinkActive="active">
                        <a [routerLink]="['/water-tracking', userId, 'daily']">Daily</a>
                    </li>
                    <li class="li-menu" routerLinkActive="active">
                        <a [routerLink]="['/water-tracking', userId, 'history']">All History</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="dynamic-content">
            <ng-content></ng-content>
        </section>
    </div>
</div>